<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <a href="/add" class="btn btn-success">添加</a>|<a href="" class="btn btn-info">列表</a>
    <hr>
    <h4>添加</h4>
    <form action="/doadd" method="post">
        <div class="form-group">
            <label>用户名:</label>
            <input type="text" name="name" class="form-control">

        </div>
        <div class="form-group">
            <label>密码:</label>
            <input type="password" name="pass" class="form-control">

        </div>
        <input type="submit" value="添加" class="btn btn-success">
    </form>
</body>
<script type="text/javascript">
    
</script>
</html>