<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>模板</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <style type="text/css">
        #did{
            width:400px;
            height:400px;
            background-color: red;
        }


    </style>
</head>
<body>
    <form action="/dologin" method="post">
        用户名:<input type="text" name="name"><br>
        密码:<input type="password" name="pass"><br>
        <input type="submit" value="提交" class="btn btn-info">
    </form>


</body>
<script type="text/javascript">
</script>
</html>